@import "../../config/colors";
@import "../../config/dimens";

.manage-schedule-modal {
  width: 300px;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);

  .section-header {
    height: $height-m;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .section-title {
    padding: 8px;

    input {
      background-color: transparent;
      width: 100%;
      height: $height-m;
      font-size: $font-m;
      text-align: center;
    }
  }

  .section-date {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      padding: 0px 8px;
      line-height: $height-m;
    }
  }
}