@import "config/colors";
@import "config/dimens";

.App {
  background-color: $color-gray;
  display: flex;
  flex-direction: column;

  $header-height: 60px;
  .header {
    position: relative;
    height: $header-height;
    background-color: $color-orange;
    flex-shrink: 0;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 12px;
      margin: auto;
      height: $height-l;
    }

    i {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;
      margin: auto;
      line-height: $header-height;
      font-size: $icon-l;
      color: $color-gray;
    }

    .menu-bar {
      position: fixed;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      transform: translate(100%);
      transition: transform 0.3s;

      &.show {
        transform: translate(0%);
      }

      .menu-bar-container {
        width: 300px;
        height: 100%;
        background-color: red;
      }
    }
  }

  .container {
    flex: 1;
  }
}